<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <h1>Bienvenido!</h1>
    <p>¡Gracias por usar nuestra aplicación! Aquí encontrarás una amplia variedad de productos para mascotas, desde comida hasta juguetes y accesorios.</p>
    <p>Explora nuestras categorías y encuentra los mejores productos para tu mascota.</p>
  </div>
</ion-content>
