@import '../../theme/variables.scss';

ion-content {
  --background: url('../../assets/images/fondo2.jpg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container {
  text-align: center;
}

#container h1 {
  color: var(--ion-color-secondary-shade);
}

#container p {
  color: var(--ion-color-dark);
}
