<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tienda Sin Nombre AUN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tabs</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>