<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="getCurrentPosition()">Obtener Ubicación</ion-button>

  <ion-card *ngIf="latitude && longitude">
    <ion-card-header>
      <ion-card-title>Coordenadas Actuales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Latitud: {{ latitude }}</p>
      <p>Longitud: {{ longitude }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
