<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Usuario: {{ usernameRecibido }}</p>
      <p>Nombre: {{ nameRecibido }}</p>
      <p>Apellido: {{ lastnameRecibido }}</p>
      <p>Correo electrónico: {{ emailRecibido }}</p>
      <p>País: {{ countryRecibido }}</p>
      <p>Dirección: {{ addressRecibido }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
