<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Usuario: {{ userData.username }}</p>
      <p>Nombre: {{ userData.name }}</p>
      <p>Apellido: {{ userData.lastname }}</p>
      <p>Correo electrónico: {{ userData.email }}</p>
      <p>País: {{ userData.country }}</p>
      <p>Dirección: {{ userData.address }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
