<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PETSHOP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="login-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Iniciar Sesión</ion-card-title>
            <ion-card-subtitle>Por favor ingrese sus credenciales</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="onLogin()">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input [(ngModel)]="username" name="username" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
              </ion-item>
              <ion-button expand="full" type="submit">INGRESAR</ion-button>
            </form>
            <ion-button expand="full" fill="outline" (click)="goToRegister()">REGISTRARSE</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
