<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="register-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Crear Cuenta</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="register()">
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input [(ngModel)]="name" name="name" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input [(ngModel)]="lastname" name="lastname" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Correo Electrónico</ion-label>
                <ion-input [(ngModel)]="email" type="email" name="email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">País</ion-label>
                <ion-input [(ngModel)]="country" name="country" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input [(ngModel)]="address" name="address" required></ion-input>
              </ion-item>
              <ion-button expand="full" type="submit">REGISTRARSE</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
