<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">category</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content class="ion-align-items-center">
      <ion-icon name="paw" slot="start"></ion-icon>
      COMIDA PARA PERROS
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="ion-align-items-center">
      <ion-icon name="paw" slot="start"></ion-icon>
      COMIDA PARA GATOS
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="ion-align-items-center">
      <ion-icon name="sparkles" slot="start"></ion-icon>
      JUGUETES
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="ion-align-items-center">
      <ion-icon name="bag" slot="start"></ion-icon>
      ACCESORIOS
    </ion-card-content>
  </ion-card>

</ion-content>
