<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categorías</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMed="4" sizeXs="6">
        <div class="category-item">
          <ion-icon name="paw"></ion-icon>
          <div class="texto">COMIDA PARA PERROS</div>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMed="4" sizeXs="6">
        <div class="category-item">
          <ion-icon name="paw"></ion-icon>
          <div class="texto">COMIDA PARA GATOS</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMed="4" sizeXs="6">
        <div class="category-item">
          <ion-icon name="sparkles"></ion-icon>
          <div class="texto">JUGUETES</div>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMed="4" sizeXs="6">
        <div class="category-item">
          <ion-icon name="basket"></ion-icon>
          <div class="texto">ACCESORIOS</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
